<div class="login-body forgot-password">
    <div class="logo">
        <img class="img-responsive" src="/assets/images/logo-white.gif">
    </div>
    <div class="login-page">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
            <h3>
                <i class="icon-lock-open"></i>
                <span>Forgot Password</span>
                <span *ngIf="loading" class="loading-icon text-center"><img src="/assets/images/loading-timeline.gif" alt="Loading"></span>
            </h3>
            <div class="login-block">
                <p>Enter your Email address below and we'll send you instructions on how to change your password or <a href="#/login">return to Login page</a></p>
                <br />
                <div class="form-group" [class.error-style]="submitted && form.controls.email.errors">
                    <div class="input-style">
                        <input type="text" class="form-control" formControlName="email" placeholder="Email">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <p *ngIf="submitted && form.controls.email.hasError('required')" class="error">
                        Email is required.
                    </p>
                </div>
                <div class="button-login clearfix">
                    <button type="submit" class="btn btn-primary btn-login no-margin-left">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>